<!--Header-->
<div class="header">
    <div class="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text">THE BROWN NOSER</div>
        </div>
        <div class="extras-wrapper">
            <div class="extras-options">
                <a href="#" class="extras-text">About</a>
                <a href="#" class="extras-text">Archive</a>
                <a href="#" class="extras-text">Join Us</a>
            </div>
            <div class="search">
                <form>
                    <input type="text" placeholder="Search..." name="search" class="search-input search-light-grey">
                </form>
            </div>
            <div class="email">
                <form class="email-form">
                    <input type="text" placeholder="Email address" name="email" class="email-input search-light-grey">
                    <button type="submit" class="subscribe-button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar">
        <ul class="navlist">
            <li class="navitem"><a href="#" class="hover">BUSINESS</a></li>
            <li class="navitem"><a href="#" class="hover">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="#" class="hover">CINEMA CORNER</a></li>
            <li class="navitem"><a href="#" class="hover">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="#" class="hover">POLITICS</a></li>
            <li class="navitem"><a href="#" class="hover">SCIENCE &amp TECHNOLOGY</a></li>
            <li class="navitem"><a href="#" class="hover">SPORTS</a></li>
        </ul>
    </div>
    <hr>
</div>

<div class="one-col-page-wrapper">
     <!--Breadcrumbs-->
    <div class="breadcrumbs-wrapper brown">
        Previous / About Us
    </div>
    <!--Sub-banner-->
    <div class="sub-banner brown">
        ABOUT US
    </div>
    <hr>
    <!--Banner Image-->
    <div class="about-wrapper">
        <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus orci. Iaculis nunc sed augue lacus viverra vitae congue eu consequat. Porta lorem mollis aliquam.</div>
    </div>
    <!--Bottom Content Section-->
    <div class="bottom-wrapper">
        <div class="bottom-title">STAFF</div>
        <hr>
        <div class="staff-cols-wrapper">
            <!--One Staff Member-->
            <div class="staff-member-wrapper">
                <div class="staff-image-wrapper"><img src="images/red.png" class="staff-image"></div>
                <div class="staff-text-wrapper">
                    <div class="staff-name">STAFF NAME</div>
                    <div class="staff-role">Staff Role</div>
                    <div>Diam justo  pulvinar viverra sed pulvinar proin quisque non vitae congue.  Porta lorem mollis. In hendrerit gravida rutrum quisque non tellus orci.</div>
                </div>
            </div>
            <!--One Staff Member-->
            <div class="staff-member-wrapper">
                <div class="staff-image-wrapper"><img src="images/lover.png" class="staff-image"></div>
                <div class="staff-text-wrapper">
                    <div class="staff-name">STAFF NAME</div>
                    <div class="staff-role">Staff Role</div>
                    <div>Diam justo  pulvinar viverra sed pulvinar proin quisque non vitae congue.  Porta lorem mollis. In hendrerit gravida rutrum quisque non tellus orci.</div>
                </div>
            </div>
            <!--One Staff Member-->
            <div class="staff-member-wrapper">
                <div class="staff-image-wrapper"><img src="images/fearless.png" class="staff-image"></div>
                <div class="staff-text-wrapper">
                    <div class="staff-name">STAFF NAME</div>
                    <div class="staff-role">Staff Role</div>
                    <div class="staff-blurb">Diam justo  pulvinar viverra sed pulvinar proin quisque non vitae congue.  Porta lorem mollis. In hendrerit gravida rutrum quisque non tellus orci.</div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--Footer-->
<div class="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>