<!--Header-->
<div class="header">
    <div class="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text">THE BROWN NOSER</div>
        </div>
        <div class="extras-wrapper">
            <div class="extras-options">
                <a href="#" class="extras-text">About</a>
                <a href="#" class="extras-text">Archive</a>
                <a href="#" class="extras-text">Join Us</a>
            </div>
            <div class="search">
                <form>
                    <input type="text" placeholder="Search..." name="search" class="search-box search-input light-grey">
                </form>
            </div>
            <div class="email">
                <form class="email-form">
                    <input type="text" placeholder="Email address" name="email" class="email-input light-grey">
                    <button type="submit" class="subscribe-button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar">
        <ul class="navlist">
            <li class="navitem"><a href="#" class="hover">BUSINESS</a></li>
            <li class="navitem"><a href="#" class="hover">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="#" class="hover">CINEMA CORNER</a></li>
            <li class="navitem"><a href="#" class="hover">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="#" class="hover">POLITICS</a></li>
            <li class="navitem"><a href="#" class="hover">SCIENCE &amp TECHNOLOGY</a></li>
            <li class="navitem"><a href="#" class="hover">SPORTS</a></li>
        </ul>
    </div>
    <hr>
</div>

<!--Page Content-->
<div class="page-content-wrapper">
    <!--Main Content Section-->
    <div class="main-content-wrapper">
        <!--Breadcrumbs-->
        <div class="breadcrumbs-wrapper brown">
            Home / Category / <span class="underline">Article</span>
        </div>
        <!--Article-->
        <div class="article-wrapper">
            <!--Article top text-->
            <div class="article-top-text-wrapper">
                <div class="article-title"> {{ articleTitle }} </div>
                <div class="top-text-wrapper">
                    <div class="article-byline brown">{{ articleByline }}</div>
                    <div class="article-date"> {{ articleDate }} </div>
                </div>
            </div>
            <!--Article image-->
            <div class="featured-image-wrapper">
                <img src="images/article-pic.png" alt="Featured article picture" class="featured-image">
            </div>
            <div class="article-caption"> {{ photoCaption }} </div>
            <!--Article text-->
            <div class="article-text">
                <p>Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Nec ullamcorper sit amet risus nullam eget felis eget. Eget magna fermentum iaculis eu non diam phasellus. Viverra ipsum nunc aliquet bibendum enim. Ut ornare lectus sit amet est. Congue quisque egestas diam in arcu. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. In hac habitasse platea dictumst vestibulum.</p>
                <p>Dignissim cras tincidunt lobortis feugiat vivamus at. Egestas diam in arcu cursus euismod quis viverra nibh cras. Tortor at risus viverra adipiscing at. Etiam erat velit scelerisque in dictum non consectetur a. Odio euismod lacinia at quis risus sed vulputate odio ut. Ornare quam viverra orci sagittis eu volutpat odio. Cursus risus at ultrices mi tempus imperdiet nulla malesuada. Vitae justo eget magna fermentum iaculis eu. Vel turpis nunc eget lorem dolor sed</p>
                <p>Est pellentesque elit ullamcorper dignissim cras. Rhoncus urna neque viverra justo nec ultrices. Rhoncus urna neque viverra justo nec ultrices dui. Viverra adipiscing at in tellus integer feugiat scelerisque. Integer eget aliquet nibh praesent tristique magna sit amet. Viverra ipsum nunc aliquet bibendum enim facilisis gravida. Cras fermentum odio eu feugiat pretium. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Aliquam malesuada bibendum arcu vitae elementum curabitur. Sed risus pretium quam vulputate.</p>
            </div>
            <!--Social media buttons-->
            <div class="social-buttons">
                <button class="btn"><i class="fa fa-facebook-square"></i></button>
                <button class="btn"><i class="fa fa-twitter-square"></i></button>
                <button class="btn"><i class="fa fa-print"></i></button>
                <button class="btn"><i class="fa fa-envelope-square"></i></button>
            </div>
        </div>
    </div>
    <!--Sidebar Section-->
    <div class="suggested-wrapper">
        <div class="smaller-sidebar-title">SUGGESTED</div>
        <!--Suggested article-->
            <div class="suggested-article">
                <img src="/images/suggested-pic.png" alt="Article picture" class="suggested-image">
                <div class="suggested-text">
                    <div class="suggested-title hover"><a href="#" class="link">Diam pulvinar justo  pulvinar viverra sed pulvinar proin</a></div>
                    <div class="suggested-date">2nd March 2021</div>
                </div>
            </div>
        <!---->
        <!--Suggested article-->
            <div class="suggested-article">
                <img src="/images/suggested-pic.png" alt="Article picture" class="suggested-image">
                <div class="suggested-text">
                    <div class="suggested-title hover"><a href="#" class="link">Diam pulvinar justo  pulvinar viverra sed pulvinar proin</a></div>
                    <div class="suggested-date">2nd March 2021</div>
                </div>
            </div>
        <!---->
    </div>
</div>

<!--Footer-->
<div class="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>