<!--Dashboard Banner-->
<div class="dashboard-banner">
    <div class="dashboard-logo">
        <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
        <div class="dashboard-logo-text"><a href="/dashboard" style="text-decoration: none;color:black" tabindex="1">THE BROWN NOSER</a></div>
    </div>
    <div class="logout-button-wrapper">
        <form action="logout" method="post">
            <input class="logout-button" type="submit" value="Logout" tabindex="2">
        </form>
    </div>
</div>

<!--Dashboard Content-->
<div class="dashboard-content-wrapper">
    <div class="dashboard-option-wrapper">
        <div class="dashboard-option-title" tabindex="3">Manage Articles</div>
        <hr>
        <ul>
            <li class="dashboard-option hover"><a href="/write_new" style="text-decoration:none;color:black" tabindex="4">New Article</a></li>
            <li class="dashboard-option hover"><a href="/edit_article" style="text-decoration:none;color:black" tabindex="5">Edit Article</a></li>
            <li class="dashboard-option hover"><a href="/delete" style="text-decoration:none;color:black" tabindex="6">Delete Article</a></li>
        </ul>
    </div>
    <div class="dashboard-option-wrapper">
        <div class="dashboard-option-title" tabindex="7">Manage Authors</div>
        <hr>
        <ul>
            <li class="dashboard-option hover"><a href="/new_author" style="text-decoration:none;color:black" tabindex="8">New Author</a></li>
            <li class="dashboard-option hover"><a href="/edit_author" style="text-decoration:none;color:black" tabindex="9">Edit Author</a></li>
        </ul>
    </div>
    <div class="dashboard-option-wrapper">
        <div class="dashboard-option-title" tabindex="10">Publish</div>
        <hr>
        <ul>
            <li class="dashboard-option hover"><a href="/publish_topical" style="text-decoration:none;color:black" tabindex="11">Article</a></li>
            <li class="dashboard-option hover"><a href="/publish_issue" style="text-decoration:none;color:black" tabindex="12">Issue</a></li>
        </ul>
    </div>
    </div>
</div>