<!--Dashboard Banner-->
<div class="dashboard-banner">
    <div class="dashboard-logo">
        <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
        <div class="dashboard-logo-text"><a href="/dashboard" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
    </div>
    <div class="dashboard-buttons">
        <div class="logout-button-wrapper">
            <form action="logout" method="post">
                <input class="logout-button" type="submit" value="Logout">
            </form>
        </div>
        <div class="dashboard-profile">
            <img src="/images/red.png" alt="profile pic icon" class="dashboard-propic">
        </div>
    </div>
</div>

<!--Dashboard Content-->
<div class="dashboard-content-wrapper">
    <div class="dashboard-option-wrapper">
        {{!-- <div class="dashboard-option-title">Create</div> --}}
        <div class="dashboard-option-title">Manage Articles</div>
        <hr>
        <ul>
            <li class="dashboard-option hover"><a href="/write_new" style="text-decoration:none;color:black">New Article</a></li>
            {{!-- <li class="dashboard-option hover"><a href="/edit" style="text-decoration:none;color:black">Edit Article</a></li> --}}
            <li class="dashboard-option hover"><a href="/delete" style="text-decoration:none;color:black">Delete Article</a></li>
        </ul>
    </div>
    <div class="dashboard-option-wrapper">
        {{!-- <div class="dashboard-option-title">Edit</div> --}}
        <div class="dashboard-option-title">Manage Authors</div>
        <hr>
        <ul>
            <li class="dashboard-option hover"><a href="/new_author" style="text-decoration:none;color:black">New Author</a></li>
            <li class="dashboard-option hover"><a href="/edit_author" style="text-decoration:none;color:black">Edit Author</a></li>
        </ul>
    </div>
    <div class="dashboard-option-wrapper">
        <div class="dashboard-option-title">Publish</div>
        <hr>
        <ul>
            <li class="dashboard-option hover"><a href="/publish_topical" style="text-decoration:none;color:black">Article</a></li>
            <li class="dashboard-option hover"><a href="/publish_issue" style="text-decoration:none;color:black">Issue</a></li>
        </ul>
    </div>
    </div>
</div>

<!--Footer-->
<div class="dashboard-footer">
    <div class="footer-text">© The Brown Noser</div>
</div>

<script>
    function logout () {
        alert("hiiii")
    }
</script>