<!--Dashboard Banner-->
<div class="dashboard-banner">
    <div class="dashboard-logo">
        <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
        <div class="dashboard-logo-text">THE BROWN NOSER</div>
    </div>
    <div class="dashboard-buttons">
        <div class="logout-button-wrapper">
            <button class="logout-button">Logout</button>
        </div>
        <div class="dashboard-profile">
            <img src="/images/red.png" alt="profile pic icon" class="dashboard-propic">
        </div>
    </div>
</div>

<!--Write New Button-->
<div class="new-buttons-wrapper">
    <button class="new-button">+ Write New</button>
</div>

<!--Dashboard Content-->
<div class="dashboard-content-wrapper">
    <div class="drafts-list-title">Articles</div>
    <hr>
    <div class="drafts-articles-list">
        <!--One Draft-->
        <div class="draft-article-wrapper">
            <div class="draft-article-text">
                <div>Title</div>
                <div>Blurb</div>
                <div>Date</div>
            </div>
            <div class="draft-article-ellipse">
                ...
            </div>
        </div>
        <hr>
        <!---->
        <!--One Draft-->
        <div class="draft-article-wrapper">
            <div class="draft-article-text">
                <div>Title</div>
                <div>Blurb</div>
                <div>Date</div>
            </div>
            <div class="draft-article-ellipse">
                ...
            </div>
        </div>
        <!---->
        <hr>
    </div>
</div>