<!--Dashboard Banner-->
<div class="dashboard-banner">
    <div class="dashboard-logo">
        <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
        <div class="dashboard-logo-text"><a href="/admin/dashboard" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
    </div>
    <div class="dashboard-buttons">
        <div class="logout-button-wrapper">
            <button class="logout-button">Logout</button>
        </div>
        <div class="dashboard-profile">
            <img src="/images/red.png" alt="profile pic icon" class="dashboard-propic">
        </div>
    </div>
</div>

<!--Write New Button-->
<div class="new-buttons-wrapper">
    <button class="new-button"><a href="/write_new" style="text-decoration:none;color:black;">+ Write New</a></button>
</div>

<!--Drafts Main Content-->
<div class="drafts-content-wrapper">
    <div class="drafts-list-title">Articles</div>
    <ul class="navlist">
        <li class="toggle-button"><a href="#" class="hover">Published</a></li>
        <li class="toggle-button"><a href="#" class="hover">Drafts</a></li>
    </ul>
    <hr>
    <div class="drafts-list">
        {{#drafts}}
        <!--One Draft-->
        <div class="link-wrapper">
            <a href="/write_new" style="text-decoration: none;color:black">
                <div class="draft-wrapper">
                    <div class="draft-text-wrapper">
                        <div class="draft-title">{{draftTitle}}</div>
                        <div class="draft-blurb">{{draftBlurb}}</div>
                        <div class="draft-info">Create on {{draftDate}} by {{draftAuthor}}</div>
                    </div>
                </div>
            </a>
        </div>
        <!---->
        <hr>
        </a>
        {{/drafts}}
    </div>
</div>

<!--Footer-->
<div class="dashboard-footer">
    <div class="footer-text">© The Brown Noser</div>
</div>