<div class="header">
    <div class="banner">
        <div class="title-wrapper">
            <img src="/images/lover.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text">THE BROWN NOSER</div>
        </div>
        <div class="extras-wrapper">
            HIHIHI
            <div class="extras-options">
                <a href="#" class="extras-text"></a>
                <a href="#" class="extras-text"></a>
                <a href="#" class="extras-text"></a>
            </div>
            <div class="search"></div>
            <div class="email"></div>
        </div>
    </div>
    <div class="navbar">
        <ul class="nav-categories">
            <li class="nav-category"><a href="#">BUSINESS</a></li>
            <li class="nav-category"><a href="#">CAMPUS LIFE</a></li>
            <li class="nav-category"><a href="#">CINEMA CORNER</a></li>
            <li class="nav-category"><a href="#">NEWS IN PICTURES</a></li>
            <li class="nav-category"><a href="#">POLITICS</a></li>
            <li class="nav-category"><a href="#">SCIENCE &amp TECHNOLOGY</a></li>
            <li class="nav-category"><a href="#">SPORTS</a></li>
        </ul>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="main-articles-wrapper">
        <!--Featured article-->
        <div class="featured-article">
            <img src="images/fearless.png" alt="Featured article picture" class="featured-image">
            <div class="text-wrapper">
                <div class="featured-title"></div>
                <div class="featured-blurb"></div>
            </div>
        </div>
        <!---->

        <div class="list-articles-wrapper">
            <!--One article-->
            <div class="list-article">
                <img src="/images/red.png" alt="Article picture" class="list-image">
                <div class="list-text-wrapper">
                    <div class="list-title"></div>
                    <div class="list-blurb"></div>
                </div>
            </div>
          <!---->

        </div>

    </div>

    <div class="most-viewed-wrapper">
        <!--Most viewed article-->
        <div class="most-viewed-article">
            <img src="/images/lover.png" alt="Most viewed article picture" class="most-viewed-image">
            <div class="most-viewed-text-wrapper">
                <div class="most-viewed-category"></div>
                <div class="most-viewed-blurb"></div>
            </div>
        </div>
        <!---->
    </div>

</div>