<!--Header-->
<div class="header">
    <div class="banner">
        <div class="title-wrapper">
            <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
            <div class="title-text">THE BROWN NOSER</div>
        </div>
        <div class="extras-wrapper">
            <div class="extras-options">
                <a href="#" class="extras-text">About</a>
                <a href="#" class="extras-text">Archive</a>
                <a href="#" class="extras-text">Join Us</a>
            </div>
            <div class="search">
                <form>
                    <input type="text" placeholder="Search..." name="search" class="search-box search-input light-grey">
                </form>
            </div>
            <div class="email">
                <form class="email-form">
                    <input type="text" placeholder="Email address" name="email" class="email-input light-grey">
                    <!--<button type="submit" class="fa fa-search">Subscribe</button>-->
                    <button type="submit" class="subscribe-button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="navbar">
        <ul class="navlist">
            <li class="navitem"><a href="#">BUSINESS</a></li>
            <li class="navitem"><a href="#">CAMPUS LIFE</a></li>
            <li class="navitem"><a href="#">CINEMA CORNER</a></li>
            <li class="navitem"><a href="#">NEWS IN PICTURES</a></li>
            <li class="navitem"><a href="#">POLITICS</a></li>
            <li class="navitem"><a href="#">SCIENCE &amp TECHNOLOGY</a></li>
            <li class="navitem"><a href="#">SPORTS</a></li>
        </ul>
    </div>
    <hr>
</div>

<!--Page Content-->
<div class="page-content-wrapper">
    <!--Main Article Section-->
    <div class="main-articles-wrapper">
        <!--Featured article-->
        <div class="featured-article">
            <div class="featured-image-wrapper">
                <img src="images/featured.png" alt="Featured article picture" class="featured-image">
            </div>

            <div class="featured-text-wrapper">
                <div class="featured-title-wrapper">
                    <div class="featured-title bold">Lorem ipsum sit consectetur adipiscing elit sed do </div>
                </div>
                <div class="featured-category brown">
                    CATEGORY
                </div>
                <div class="featured-blurb">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus orci ac. Sit amet venenatis urna cursus eget nunc. Iaculis nunc sed augue lacus viverra vitae congue eu consequat. Porta lorem mollis aliquam...
                </div>
            </div>
            <div class="read-more-wrapper">
                <a href="#" class="read-more brown">Read more</a>
            </div>
            <hr>
        </div>

        <!--Listed articles-->
        <div class="list-articles-wrapper">
            <!--One article-->
            <div class="list-article-wrapper">
                <div class="list-article">
                    <div class="list-image-wrapper">
                        <img src="/images/list-test.png" alt="Article picture" class="list-image">
                    </div>
                    <div class="list-text-wrapper">
                        <div class="list-title bold">Diam pulvinar justo  pulvinar viverra sed pulvinar proin</div>
                        <div class="list-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.In hendrerit gravida rutrum quisque non tellus orci ac. Sit amet venenatis urn. Porta lorem mollis aliquam...</div>
                    </div>
                </div>
                <div class="read-more-wrapper">
                    <a href="#" class="read-more brown">Read more</a>
                </div>
                <hr>
            </div>
            <!---->
            <!--One article-->
            <div class="list-article-wrapper">
            <div class="list-article">
                <div>
                    <img src="/images/list-test.png" alt="Article picture" class="list-image">
                </div>
                <div class="list-text-wrapper">
                    <div class="list-title bold">Diam pulvinar justo  pulvinar viverra sed pulvinar proin</div>
                    <div class="list-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.In hendrerit gravida rutrum quisque non tellus orci ac. Sit amet venenatis urn. Porta lorem mollis aliquam...</div>
                </div>
            </div>
                <div class="read-more-wrapper">
                    <a href="#" class="read-more brown">Read more</a>
                </div>
            </div>
            <!---->
        </div>

    </div>

    <!--Most viewed article sidebar-->
    <div class="most-viewed-wrapper">
        <div style="font-size:30px">MOST VIEWED</div>
        <!--Most viewed article-->
        <div class="most-viewed-article">
            <img src="/images/most-viewed.png" alt="Most viewed article picture" class="most-viewed-image">
            <div class="most-viewed-text-wrapper">
                <div class="most-viewed-category category">CATEGORY</div>
                <div class="most-viewed-blurb bold">Diam pulvinar justo gravida rutrum  pulvinar viverra sed pulvinar justo  pulvinar  pulvinar proin</div>
            </div>
        </div>
        <!---->
        <!--Most viewed article-->
        <div class="most-viewed-article">
            <img src="/images/most-viewed.png" alt="Most viewed article picture" class="most-viewed-image">
            <div class="most-viewed-text-wrapper">
                <div class="most-viewed-category brown">CATEGORY</div>
                <div class="most-viewed-blurb bold">Diam pulvinar justo gravida rutrum  pulvinar viverra sed pulvinar justo  pulvinar  pulvinar proin</div>
            </div>
        </div>
        <!---->
    </div>
</div>

<!--Footer-->
<div class="footer">
    <div class="footer-text">© The Brown Noser</div>
</div>