<div class="header">

</div>

<div class="page-content-wrapper">
    <div class="main-articles-wrapper">
        <!--Featured article-->
        <div class="featured-article">
            <div class="featured-image-wrapper">
                <img src="#" alt="article picture">
            </div>
            <div class="text-wrapper">
                <div class="featured-title"></div>
                <div class="featured-blurb"></div>
            </div>
        </div>
        <!---->

        <div class="list-articles-wrapper">
            <!--One article-->
            <div class="list-article">
                <div class="list-image-wrapper">
                    <img src="#" alt="article picture">
                </div>
                <div class="list-text-wrapper">
                    <div class="list-title"></div>
                    <div class="list-blurb"></div>
                </div>
            </div>
            <!---->
            <div class="list-article"> </div>
            <div class="list-article"> </div>
        </div>

    </div>

    <div class="most-viewed-wrapper">
        <!--Most viewed article-->
        <div class="most-viewed-article">
            <div class="viewed-image-wrapper">
                <img src="#" alt="article picture">
            </div>
            <div class="viewed-text-wrapper">
                <div class="viewed-category"></div>
                <div class="viewed-blurb"></div>
            </div>
        </div>
        <!---->
    </div>

</div>