<div class="login-banner">
    <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
    <div class="login-banner-text">THE BROWN NOSER</div>
</div>

<div class="login-wrapper">
    <div class="second-wrapper">
    <div class="login-text">Log In</div>
    <div class="login-form-wrapper">
        <form action="auth" method="POST">
            <input type="text" class="login-username" name="username" placeholder="Username" required><br>
            <input type="text" class="login-password" name="password" placeholder="Password" required><br>
            <input type="submit" value="Log In" class="login-button"><br>
        </form>
    </div>
    <div class="forgot-password">
        <a href="#" style="text-decoration:none;color:black">Forgot password?</a>
    </div>
    </div>
</div>

<!--Footer-->
<div class="dashboard-footer">
    <div class="footer-text">© The Brown Noser</div>
</div>

<script>
    async function basiclogin (email, password) {
        const response = await zlFetch.post(loginEndpoint, {
            auth: {
                username: email,
                password: password
            },
            body: { /*...*/ }
        })
        const { token } = response.body
        localStorage.setItem('token', token)
        // user contains accessLevel
        localStorage.setItem('user', user)
    }

    async function isLoggedIn () {
        const token = store.get('token')
        if (!token) return false
        // Checks validity of token
        const response = await zlFetch.post(loginEndpoint, {
            auth: token,
            body: { course: 'learn-javascript' }
        })
        // Saves token into localStorage again
        const { token } = response.body
        localStorage.setItem('token', token)
        const { token, user } = response.body
        localStorage.setItem('user', user)
        return true
    }

    async function autoRedirect () {
        const validLogin = await isLoggedIn()
        if (!validLogin && location.pathname !== '/login/') redirect('/login')
        if (validLogin && location.pathname === '/login/') redirect('/')
    }

    function logout () {
        localStorage.removeItem('token')
        localStorage.removeItem('user')
    }
</script>