<div class="login-banner">
    <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
    <div class="login-banner-text">THE BROWN NOSER</div>
</div>

<div class="login-wrapper">
    <div class="second-wrapper">
    <div class="login-text">Log In</div>
    <div class="login-form-wrapper">
        <form>
            <input type="text" value="Email" class="login-email"><br>
            <input type="text" value="Password" class="login-password"><br>
            <input type="submit" value="Log In" class="login-button"><br>
        </form>
    </div>
    <div class="forgot-password">
        <a href="#" style="text-decoration:none;color:black">Forgot password?</a>
    </div>
    </div>
</div>

<!--Footer-->
<div class="dashboard-footer">
    <div class="footer-text">© The Brown Noser</div>
</div>