<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script>

    $(document).ready(function () {
        $('.limited').selectize({
            sortField: 'text'
        });
    });
    </script>
</head>

<body>
<!--Dashboard Banner-->
<div class="dashboard-banner">
    <div class="dashboard-logo">
        <img src="/images/logo.png" alt="The Brown Noser logo" class="logo-image">
        <div class="dashboard-logo-text"><a href="/dashboard" style="text-decoration: none;color:black">THE BROWN NOSER</a></div>
    </div>
    <div class="dashboard-buttons">
        <div class="logout-button-wrapper">
            <form action="logout" method="post">
                <input class="logout-button" type="submit" value="Logout">
            </form>
        </div>
        <div class="dashboard-profile">
            <img src="/images/red.png" alt="profile pic icon" class="dashboard-propic">
        </div>
    </div>
</div>

 <!--Navbar-->
    <div class="portal-navbar" role="navigation" style="padding-bottom:1.5%;">
        <ul class="portal-navlist">
            <li class="portal-navitem"><a href="/write_new" class="hover">NEW ARTICLE</a></li>
            <li class="portal-navitem"><a href="/delete" class="hover">DELETE ARTICLE</a></li>
            <li class="portal-navitem"><a href="/new_author" class="hover">NEW AUTHOR</a></li>
            <li class="portal-navitem"><a href="/edit_author" class="hover">EDIT AUTHOR</a></li>
            <li class="portal-navitem"><a href="/publish_topical" class="hover">PUBLISH ARTICLE</a></li>
            <li class="portal-navitem"><a href="/publish_issue" class="hover">PUBLISH ISSUE</a></li>
        </ul>
    </div>
    <hr style="height: 4px;margin:0;">
    
<div style="padding:2%;">
    <form method="post">
        <label for="name">Author name: </label>
        <input type="text" id="name" name="name" required><br/>

        <label for="role">Status: </label>
        <select name="role">
            <option value="">Select a role...</option> 
            <option value="Writer">Writer</option>
            <option value="Editor-in-Chief">Editor-in-Chief</option>
            <option value="Co-Editor-in-Chief">Co-Editor-in-Chief</option>
        </select> <br/>

        <label for="bio">Author bio: </label>
        <input type="textarea" id="bio" name="bio" value='{{bio}}'><br/>

        <label for="authorPhoto">Upload photo: </label>
        <input type="file" id="authorPhoto" name="authorPhoto" accept="image/*"> <br/>

        <label for="insta">Instagram: </label>
        <input type="text" id="insta" name="insta" value='{{insta}}'><br/>

        <label for="twitter">Twitter: </label>
        <input type="text" id="twitter" name="twitter" value='{{twitter}}'><br/>

        <input type="submit" value="Save">
        
    </form>

    <div class="result">
        {{message}}
    </div>
</div>
</body>

<script>
    const handleImageUpload = event => {
        const files = event.target.files;
        const formData = new FormData();
        formData.append('myFile', files[0]);

        fetch('/saveAuthorImage', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.path)
        })
        .catch(error => {
            console.error(error)
        })
    }

    document.querySelector('#authorPhoto').addEventListener('change', event => {
        handleImageUpload(event);
    });

</script>