/* Fonts */
@font-face {
    font-family: road-race;
    src: url(road-race/Road\ Race\ Rough.otf);
}

@font-face {
    font-family: pt-serif;
    src: url(PT_Serif/PTSerif-Regular.ttf)
}

@font-face {
    font-family: pt-serif-bold;
    src: url(PT_Serif/PTSerif-Bold.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(Roboto/Roboto-Bold.ttf)
}

@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-Regular.ttf)
}

/* Colors */
.brown {
    color: #573B03;
}

.search-light-grey {
    color: #959595;
}

.bold {
    font-weight: 900;
}

.line-light-grey {
    color: #C4C4C4;
}

/* Interactions */
.hover:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

/* HEADER */
.header {
    font-family: pt-serif;
}

/* Top banner */
.banner {
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 2%;
}

.title-wrapper {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-image {
    height: 100px;
    margin-right: 1%;
}

.title-text {
    font-size: 48px;
    font-family: road-race;
    color: rgb(57,37,32);
}

/* Extras section */
.extras-text {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 2%;
    font-size: 16px;
}

.extras-text:hover {
    font-weight: bolder;
}

.search {
    margin: 2%;
}

.search-input {
    border-radius: 6px 6px 6px 6px;
    border-width: 1px;
    border-color: #D4D4D4;
    border-style: solid;
    height: 100%;
    font-family: roboto;
    font-size: 14px;
    padding: 2%;
    margin-right: 0;
    width: 235px;
}

.email {
    margin: 2%;
    width: 250px;
}

.email-form {
    display: flex;
    flex-direction: row;
}

.email-input {
    border-radius: 6px 0px 0px 6px;
    border-width: 1px;
    border-color: #D4D4D4;
    border-style: solid;
    font-family: roboto;
    font-size: 14px;
    padding: 2%;
    margin-right: 0;
    width: 250px;
}

.subscribe-button {
    border-radius: 0px 6px 6px 0px;
    border-width: 1px;
    border-color: #3A0803;
    border-style: solid;
    background-color: #3A0803;
    color: white;
    font-family: roboto;
    font-size: 12px;
    font-weight: medium;
    margin-left: 0;
    height: 10px;
    padding-top: 4%;
    padding-bottom: 7.5%;
}

/* Nav bar */
.navbar {
    display: flex;
    justify-content: center;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  .navitem {
    float: left;
    color: #333333;
  }
  
  .navitem a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* FOOTER */
.footer {
    background-color: #3A2B03;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
}

.footer-text {
    font-family: pt-serif-bold;
    font-size: 16px;
    color: white;
}

/* HOME PAGE */
.page-content-wrapper {
    font-family: pt-serif;
    margin: 2%;
    display: grid;
    grid-template-columns: 75% 25%;
}

/* Main content */
.main-content-wrapper {
    border-right: solid 1px;
    margin-right: 3%;
}

/* Featured article*/
.featured-article {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}

.featured-image-wrapper{
    display: flex;
    justify-content: center;
}

.featured-image {
    max-height: 400px;
    width: 100%;
}

.featured-text-wrapper {
    line-height: 2;
}

.featured-title-wrapper {
    font-size: 34px;
    font-weight: bold;
}

.featured-category {
    font-size: 20px;
}

.featured-blurb {
    font-size: 18px;
}

.read-more-wrapper {
    text-align: right;
}

.read-more {
    text-decoration: underline;
    font-family: roboto-bold;
}

/* List article */
.list-article-wrapper {
    margin: 4%;
}

.list-article {
    display: grid;
    grid-template-columns: 40% 60%;
}

.list-image {
    width: 100%;
}

.list-text-wrapper {
    margin-left: 4%;
    line-height: 2;
}

.list-title {
    font-size: 18px;
    font-weight: bold;
}

.list-blurb {
    font-size: 14px;
}

/* Sidebar */
.sidebar-wrapper {
    margin-top: 6%;
}
.sidebar-title {
    font-size: 30px;
}

.sidebar-article {
    margin-bottom: 4%;
}

.sidebar-image {
    max-height: 225px;
    max-width: 100%;
}

.sidebar-text-wrapper {
    line-height: 1.5;
}

/* SEARCH PAGE */
/* Search Bar */
.large-search-wrapper {
    margin: 4%;
    height: 50px;
    border-bottom: solid black 3px;
    line-height: 1.5;
}

.large-search-input {
    width: 85%;
    font-family: roboto;
    font-size: 24px;
    border: none;
    padding-top: 2%;
}

.large-search-button {
    width: 10%;
    background: none;
    color: #626262;
    font-size: 24px;
    border: none;
    cursor: pointer;
}


/* Side Bar */
.popular-searches {
    text-align: center;
    padding-right: 8%;
}

.popular-title {
    text-align: center;
}

.unstyled-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.unstyled-link:hover {
    text-decoration: underline;
}

/* ARTICLE PAGE */
/* Breadcrumbs */
.breadcrumbs-wrapper {
    font-family: roboto;
    font-weight: bold;
    font-size: 16px;
}

/* Article */
.article-wrapper {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}

.article-title {
    font-size: 34px;
    font-weight: bold;
}

.top-text-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.article-date {
    color: #626262;
    font-size: 25px;
}

.article-byline {
    font-size: 25px;
    font-weight: bold;
}

.article-text {
    font-family: 'pt-serif';
    font-size: 18px;
    line-height: 2;
}

.article-caption {
    color: #626262;
    text-align: center;
}

/* Suggested Articles Sidebar */
.suggested-wrapper {
    padding: 2%;
    border: solid black 2px;
}

.suggested-article {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 4%;
    margin-bottom: 8%;
}

.suggested-image {
    max-width: 100%;
}

.suggested-text {
    margin-left: 2%;
}

.suggested-title {
    font-size: 12px;
    font-weight: bold;
}

.suggested-date {
    color: #626262;
    font-size: 13px;
    margin-top: 2%;
}

.link {
    color: black;
    text-decoration: none;
    line-height: 1;
}

.smaller-sidebar-title {
    font-size: 24px;
    font-weight: bold;
}

/* Social Media Icons */
.btn {
  background-color: white;
  border: solid black 1px;
  border-radius: 5px;
  color: black;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* ABOUT US PAGE */
.bread-margin {
    margin-top: 2%;
    margin-left: 2%;
}

.sub-banner {
    font-size: 40px;
    padding: 2%;
    text-align: center;
    font-weight: bolder;
}

.splash-wrapper {
    height: 445px;
    margin: 4%;
}

/* TO DO: Replace this with the actual background photo the Noser wants to use */
.about-image {
    background-image: url("images/red.png");
}

.about-text {
    color: white;
    font-family: 'pt-serif';
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    padding: 10%;
}

/* Staff Section */
.bottom-title {
    font-size: 36px;
    color: 392520;
    font-weight: bold;
    margin-left: 1%;
}

.bottom-wrapper {
    margin: 4%;
}

.staff-cols-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.staff-member-wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 5%;
}

.staff-image {
    max-width: 100%;
    border-radius: 50%;
}

.staff-text-wrapper {
    margin-left: 8%;
    font-family: 'pt-serif';
}

.staff-name {
    font-size: 22px;
    color: #392520;
    font-weight: bolder;
}

.staff-role {
    font-size: 18px;
    font-style: italic;
    color: #525252;
}

.staff-blurb {
    font-size: 14px;
}

/* JOIN US PAGE */
/* TO DO: Replace this with the actual background photo the Noser wants to use */
.join-image {
    background-image: url("images/join.png");
}

.join-text {
    font-family: 'pt-serif';
    font-size: 22px;
    text-align: center;
    line-height: 2;
}

.join-list {
    align-self: center;
}

/* AUTHOR PAGE */
.author-banner {
    font-size: 40px;
    padding: 2%;
    font-family: 'pt-serif';
    font-weight: bold;
    margin-left: 4%;
}

.author-page-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 2%;
    padding-top: 2%;
}

.author-articles-title {
    font-size: 25px;
    color: #573B03;
    font-weight: bold;
    padding-left: 4%;
}

.author-info-wrapper {
    background-color: #EBEBEB;
    height: 400px;
}

.author-image-wrapper {
    padding-top: 10%;
}

.author-image {
    height: 160px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.author-text-wrapper {
    font-family: 'pt-serif';
    padding: 10%;
    padding-top: 2%;
    text-align: center;
}

.author-info-name {
    font-family: 'pt-serif-bold';
    font-size: 24px;
}

.author-blurb {
    font-size: 14px;
}

.author-socials-wrapper {
    margin-top: 6%;
    display: grid;
    grid-template-columns: auto auto;
}

.author-social {
    font-family: 'pt-serif-bold';
    font-size: 30px;
    padding: 8px 12px;
    color: 392520;
  }

/* MEDIA QUERIES */
@media screen and (max-width: 1025px) {
    .search-input {
        width: 218px;
    }

    .email-input {
        width: 150px;
    }
}

@media screen and (max-width: 910px) {
    .search-input {
        width: 168px;
    }

    .email-input {
        width: 100px;
    }
}

@media screen and (max-width: 850px) {
    /* Don't display sidebar */
    .page-content-wrapper {
        grid-template-columns: 100%;
    }

    .side-bar-wrapper {
        display: none;
    }

    .sidebar-title {
        display: none;
    }

    .sidebar-article {
        display: none;
    }

    .suggested-wrapper {
        display: none;
    }

    .popular-searches {
        display: none;
    }

    .popular-title {
        display: none;
    }

    .main-content-wrapper {
        border-right: none;
        margin-left: auto;
        margin-right: auto;
    }

    .author-page-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .author-info-wrapper {
        margin-top: 4%;
        margin-bottom: 8%;
    }

    /* Make staff section single column */
    .staff-cols-wrapper {
        grid-template-columns: auto;
    }

    /* Text resizing */
    .extras-text {
        font-size: 14px;
    }

    .featured-title {
        font-size: 30px;
    }

    .article-title {
        font-size: 30px;
    }

    .featured-category {
        font-size: 18px;
    }

    .article-byline {
        font-size: 18px;
    }

    .article-date {
        font-size: 18px;
    }

    .featured-blurb {
        font-size: 16px;
    }

    .article-text {
        font-size: 16px;
    }

    .sub-banner {
        font-size: 36px;
    }

    .join-text {
        font-size: 20px;
    }

    .join-bullet {
        font-size: 20px;
    }

    .about-text {
        font-size: 22px;
    }

    .author-banner {
        font-size: 36px;
        text-align: center;
    }
}

@media screen and (max-width: 725px) {
    .banner {
        grid-template-columns: 70% 30%;
    }
    
    /* More text resizing */
    .featured-title {
        font-size: 28px;
    }

    .list-title {
        font-size: 16px;
    }
    
    .list-blurb {
        font-size: 12px;
    }
}

@media screen and (max-width: 625px) {
    .banner {
        grid-template-columns: 65% 35%;
    }
}