body, html{
    margin:0;
    padding:0;
  }

/* Fonts */
@font-face {
    font-family: road-race;
    src: url(road-race/Road\ Race\ Rough.otf);
}

@font-face {
    font-family: pt-serif;
    src: url(PT_Serif/PTSerif-Regular.ttf)
}

@font-face {
    font-family: pt-serif-bold;
    src: url(PT_Serif/PTSerif-Bold.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(Roboto/Roboto-Bold.ttf)
}

@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-Regular.ttf)
}

/* Colors */
.brown {
    color: #573B03;
}

.search-light-grey {
    color: #959595;
}

.bold {
    font-weight: 900;
}

.line-light-grey {
    color: #C4C4C4;
}

/* Interactions */
.hover:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

/* HEADER */
.header {
    background-color: white;
    font-family: pt-serif;
}

/* Top banner */
.banner {
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 2%;
}

.title-wrapper {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-image {
    height: 100px;
    margin-right: 1%;
}

.title-text {
    font-size: 48px;
    font-family: road-race;
    color: rgb(57,37,32);
}

/* Extras section */
.extras-wrapper {
    display: flex;
    align-items: center;
}

.extras-text {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 2%;
    font-size: 16px;
}

.extras-text:hover {
    font-weight: bolder;
}

.search {
    margin: 2%;
}

.search-input {
    border-radius: 6px 6px 6px 6px;
    border-width: 1px;
    border-color: #D4D4D4;
    border-style: solid;
    height: 100%;
    font-family: roboto;
    font-size: 14px;
    padding: 2%;
    margin-right: 0;
    width: 235px;
}

.email {
    margin: 2%;
    width: 250px;
}

.email-form {
    display: flex;
    flex-direction: row;
}

.email-input {
    border-radius: 6px 0px 0px 6px;
    border-width: 1px;
    border-color: #D4D4D4;
    border-style: solid;
    font-family: roboto;
    font-size: 14px;
    padding: 2%;
    margin-right: 0;
    width: 250px;
}

.subscribe-button {
    border-radius: 0px 6px 6px 0px;
    border-width: 1px;
    border-color: #3A0803;
    border-style: solid;
    background-color: #3A0803;
    color: white;
    font-family: roboto;
    font-size: 12px;
    font-weight: medium;
    margin-left: 0;
    height: 10px;
    padding-top: 4%;
    padding-bottom: 7.5%;
}

/* Nav bar */
.navbar {
    display: flex;
    justify-content: center;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
  
.navitem {
    float: left;
    color: #333333;
}
  
.navitem a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* FOOTER */
.footer {
    background-color: #3A2B03;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
}

.footer-text {
    font-family: pt-serif-bold;
    font-size: 16px;
    color: white;
}

/* HOME PAGE */
.page-content-wrapper {
    font-family: pt-serif;
    margin: 2%;
    display: grid;
    grid-template-columns: 75% 25%;
}

/* Main content */
.main-content-wrapper {
    border-right: solid 1px;
    margin-right: 3%;
}

/* Featured article*/
.featured-article {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}

.featured-image-wrapper{
    position: relative;
}

.featured-image {
    width: 100%;
    height: auto;
}

.featured-text-wrapper {
    line-height: 2;
}

.featured-title-wrapper {
    font-size: 34px;
    font-weight: bold;
    color: black;
    line-height: 1;
}

.featured-category {
    font-size: 20px;
}

.featured-blurb {
    font-size: 18px;
    color: black;
}

.read-more-wrapper {
    text-align: right;
}

.read-more {
    text-decoration: underline;
    font-family: roboto-bold;
}

/* List article */
.list-article-wrapper {
    margin: 4%;
}

.list-article {
    display: grid;
    grid-template-columns: 40% 60%;
}

.list-image {
    width: 100%;
}

.list-text-wrapper {
    margin-left: 4%;
    line-height: 2;
}

.list-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.list-blurb {
    font-size: 14px;
}

/* Sidebar */
.sidebar-wrapper {
    margin-top: 6%;
}
.sidebar-title {
    font-size: 30px;
}

.sidebar-article {
    margin-bottom: 18%;
}

.sidebar-image {
    max-height: 225px;
    max-width: 100%;
}

.sidebar-text-wrapper {
    line-height: 1.5;
}

/* Three Articles Bar */
.three-articles-wrapper {
    margin: 4%;
    display: flex;
    justify-content: space-between;
}

.three-article {
    margin: 2%;
}

.three-article-image {
    max-width: 100%;
}

/* SEARCH PAGE */
/* Search Bar */
.large-search-wrapper {
    margin: 4%;
    height: 50px;
    border-bottom: solid black 3px;
    line-height: 1.5;
}

.large-search-input {
    width: 85%;
    font-family: roboto;
    font-size: 24px;
    border: none;
    padding-top: 2%;
}

.large-search-button {
    width: 10%;
    background: none;
    color: #626262;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* Author Results */
.result-wrapper{
    margin: 4%;
    display: flex;
}

.result-image {
    max-height: 100px;
    border-radius: 50%;
}

.result-text-wrapper {
    padding-top: 2%;
    margin-left: 4%;
}


/* Side Bar */
.popular-searches {
    text-align: center;
    padding-right: 8%;
}

.popular-title {
    text-align: center;
}

.unstyled-link {
    text-decoration: none;
    color: black;
}

.unstyled-link:hover {
    text-decoration: underline;
}

/* ARTICLE PAGE */
/* Breadcrumbs */
.breadcrumbs-wrapper {
    font-family: roboto;
    font-weight: bold;
    font-size: 16px;
}

/* Article */
.article-wrapper {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}

.article-title {
    font-size: 34px;
    font-weight: bold;
}

.top-text-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.article-date {
    color: #626262;
    font-size: 25px;
}

.article-author {
    font-size: 25px;
    font-weight: bold;
}

/* add white-space to make line breaks render */
.article-text {
    font-family: 'pt-serif';
    font-size: 18px;
    line-height: 2;
    white-space: pre-line;
}

.article-caption {
    color: #626262;
    text-align: center;
}

/* Suggested Articles Sidebar */
.suggested-wrapper {
    padding: 2%;
    border: solid black 2px;
}

.suggested-article {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 4%;
    margin-bottom: 8%;
}

.suggested-image {
    max-width: 100%;
}

.suggested-text {
    margin-left: 2%;
}

.suggested-title {
    font-size: 12px;
    font-weight: bold;
}

.suggested-date {
    color: #626262;
    font-size: 13px;
    margin-top: 2%;
}

.link {
    color: black;
    text-decoration: none;
    line-height: 1;
}

.smaller-sidebar-title {
    font-size: 24px;
    font-weight: bold;
}

/* Social Media Icons */
.btn {
  background-color: white;
  border: solid black 1px;
  border-radius: 5px;
  color: black;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* ABOUT US PAGE */
.bread-margin {
    margin-top: 2%;
    margin-left: 2%;
}

.sub-banner {
    font-size: 40px;
    padding: 2%;
    text-align: center;
    font-weight: bolder;
}

.splash-wrapper {
    height: 445px;
    margin: 4%;
}

/* TO DO: Replace this with the actual background photo the Noser wants to use */
.about-image {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/images/about-pic.jpg);
    background-size: cover;
}

.about-text {
    color: white;
    font-family: 'pt-serif';
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    padding: 10%;
}

/* Staff Section */
.bottom-title {
    font-size: 36px;
    color: 392520;
    font-weight: bold;
    margin-left: 1%;
}

.bottom-wrapper {
    margin: 4%;
}

.staff-cols-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.staff-member-wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 5%;
}

.staff-image {
    max-width: 100%;
    border-radius: 50%;
}

.staff-text-wrapper {
    margin-left: 8%;
    font-family: 'pt-serif';
}

.staff-name {
    font-size: 22px;
    color: #392520;
    font-weight: bolder;
}

.staff-role {
    font-size: 18px;
    font-style: italic;
    color: #525252;
}

.staff-blurb {
    font-size: 14px;
}

/* JOIN US PAGE */
/* TO DO: Replace this with the actual background photo the Noser wants to use */
.join-image {
    background-image: url("/images/paxson-dance.gif");
    /* background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/images/about-pic.jpg);*/
    background-size: cover; 
}

.join-text {
    font-family: 'pt-serif';
    font-size: 22px;
    text-align: center;
    line-height: 2;
}

.join-list {
    align-self: center;
}

/* AUTHOR PAGE */
.author-banner {
    font-size: 40px;
    padding: 2%;
    font-family: 'pt-serif';
    font-weight: bold;
    margin-left: 4%;
}

.author-page-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 2%;
    padding-top: 2%;
}

.author-articles-title {
    font-size: 25px;
    color: #573B03;
    font-weight: bold;
    padding-left: 4%;
}

.author-info-wrapper {
    background-color: #EBEBEB;
    height: 400px;
}

.author-image-wrapper {
    padding-top: 10%;
}

.author-image {
    height: 160px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.author-text-wrapper {
    font-family: 'pt-serif';
    padding: 10%;
    padding-top: 2%;
    text-align: center;
}

.author-info-name {
    font-family: 'pt-serif-bold';
    font-size: 24px;
}

.author-blurb {
    font-size: 14px;
}

.author-socials-wrapper {
    margin-top: 6%;
    display: grid;
    grid-template-columns: auto auto;
}

.author-social {
    font-family: 'pt-serif-bold';
    font-size: 30px;
    padding: 8px 12px;
    color: 392520;
}

/* ARCHIVE PAGE */
/* Timeline */
.timeline-wrapper {
    display: flex;
    justify-content: center;
}

.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
  
.timeline-button {
    float: left;
    color: #333333;
    font-family: 'pt-serif';
    font-size: 18px;
}
  
.timeline-button a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Issues Section */
.issues-wrapper {
    display: flex;
    justify-content: space-between;
}

.issue-lists-wrapper {
    width: 70%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.archive-item {
    font-family: 'pt-serif-bold';
    font-size: 22px;
    color: #573B03;
    text-decoration: underline;
    line-height: 1.5;
}

.archive-image-wrapper {
    padding-right: 5%;
}

.archive-image {
    height: 200px;
}

/* .share-btn > a {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    font-family: Verdana, Arial;
}
.share-btn > a:hover {
    cursor: pointer;
} */

.share-btn > a {
    border: solid black 1px;
    padding: 8px 12px;
    font-size: 24px;
    background-color: white;
    border-radius: 5px;
    color: black;

}
.share-btn > a:hover {
    cursor: pointer;
    background-color: RoyalBlue;
}
/* 
.btn {
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    font-size: 24px;
    padding: 8px 12px;
    cursor: pointer;
  } */
  
  /* Darker background on mouse-over */
  /* .btn:hover {
    background-color: RoyalBlue;
  } */
  
/* CMS STYLING */
/* LOGIN PAGE */
.login-banner {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-banner-text {
    font-size: 44px;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.login-text {
    font-family: "roboto";
    font-size: 28px;
    text-align: center;
}

.login-username {
    font-family: "roboto";
    font-size: 14px;
    color: #959595;
    padding: 4%;
    margin-top: 5%;
    border-radius: 19px;
    border-style: solid;
    border-color: #D4D4D4;
}

.login-password {
    font-family: "roboto";
    font-size: 14px;
    color: #959595;
    padding: 4%;
    margin-top: 5%;
    border-radius: 19px;
    border-style: solid;
    border-color: #D4D4D4;
}

.login-button {
    background-color: #573B03;
    color: white;
    font-family: "roboto";
    font-size: 15px;
    align-self: center;
    padding: 4%;
    margin: 5%;
    margin-left: 12%;
    width: 150px;
    border-radius: 19px;
    border-style: solid;
    border-color: #573B03;
}

.forgot-password {
    font-family: "roboto";
    font-size: 12px;
    color: #573B03;
    margin-left: 27%;
}


/* DASHBOARD PAGE */
/* Dashboard Banner */
.dashboard-banner {
    display: grid;
    grid-template-columns: 80% 20%;
    box-shadow:  0 6px 4px -4px rgba(175, 174, 174, 0.7);
}

.dashboard-logo {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-logo-text {
    font-size: 40px;
}

/* Dashboard buttons */
.dashboard-buttons {
    display: flex;
    flex-direction: row;
}

.logout-button-wrapper {
    display: flex;
    align-items: center;
    padding: 5%;
    margin-right: 4%;
}

.logout-button {
    font-size: 16px;
    height: 50%;
    width: 100%;
    background: transparent;
    color:#573B03;
    border-color: #C4C4C4;
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    padding: 20%;
    padding-right: 35%;
}

.dashboard-propic {
    max-height: 80px;
    border-radius: 50%;
    margin-top: 15%;
}

/* Dashboard Options */
.dashboard-content-wrapper{
    padding: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

.dashboard-option-title {
    font-size: 28px;
}

.dashboard-option {
    font-size: 20px;
}

/* Dashboard Footer */
.dashboard-footer {
    background-color: #3A2B03;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* EDIT PAGE */
/* Write New Button */
.new-buttons-wrapper {
    margin: 2%;
    background-color: aqua;
}

.new-button {
    float: right;
    font-size: 16px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background: transparent;
    color:#573B03;
    border-color: #C4C4C4;
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
}

/* Drafts Content */
.drafts-content-wrapper {
    padding: 2%;
}

.drafts-list-title {
    font-size: 44px;
    padding-top: 2%;
}

.toggle-button {
    float: left;
    color: #333333;
    font-family: 'pt-serif';
    font-size: 18px;
}
  
.toggle-button a {
    display: block;
    color: black;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    text-decoration: none;
}

.drafts-list {
    overflow: auto;
    height: 350px;
}

.draft-wrapper {
    display: grid;
    grid-template-columns: 95% 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.draft-text-wrapper {
    font-size: 18px;
}

.draft-title {
    font-weight: bold;
}

.draft-info {
    font-size: 16px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1025px) {
    .search-input {
        width: 218px;
    }

    .email-input {
        width: 150px;
    }
}

@media screen and (max-width: 910px) {
    .search-input {
        width: 168px;
    }

    .email-input {
        width: 100px;
    }
}

@media screen and (max-width: 850px) {
    /* Don't display sidebar */
    .page-content-wrapper {
        grid-template-columns: 100%;
    }

    .side-bar-wrapper {
        display: none;
    }

    .sidebar-title {
        display: none;
    }

    .sidebar-article {
        display: none;
    }

    .suggested-wrapper {
        display: none;
    }

    .popular-searches {
        display: none;
    }

    .popular-title {
        display: none;
    }

    .main-content-wrapper {
        border-right: none;
        margin-left: auto;
        margin-right: auto;
    }

    .author-page-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .author-info-wrapper {
        margin-top: 4%;
        margin-bottom: 8%;
    }

    /* Make staff section single column */
    .staff-cols-wrapper {
        grid-template-columns: auto;
    }

    /* Make archive issues single column */
    .issues-wrapper {
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        width: 80%;
        padding-left: 30%;
    }

    .issue-lists-wrapper {
        margin-bottom: 6%;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }

    .issue-list {
        margin: auto;
    }

    .archive-image-wrapper {
        padding-right: 0%;
        margin: auto;
    }

    /* Text resizing */
    .extras-text {
        font-size: 14px;
    }

    .featured-title {
        font-size: 30px;
    }

    .article-title {
        font-size: 30px;
    }

    .featured-category {
        font-size: 18px;
    }

    .article-author {
        font-size: 18px;
    }

    .article-date {
        font-size: 18px;
    }

    .featured-blurb {
        font-size: 16px;
    }

    .article-text {
        font-size: 16px;
    }

    .sub-banner {
        font-size: 36px;
    }

    .join-text {
        font-size: 20px;
    }

    .join-bullet {
        font-size: 20px;
    }

    .about-text {
        font-size: 22px;
    }

    .author-banner {
        font-size: 36px;
        text-align: center;
    }

    /* Dashboard Banner */
    .dashboard-banner {
        grid-template-columns: 70% 30%;
    }
}

@media screen and (max-width: 725px) {
    .banner {
        grid-template-columns: 70% 30%;
    }
    
    /* More text resizing */
    .featured-title {
        font-size: 28px;
    }

    .list-title {
        font-size: 16px;
    }
    
    .list-blurb {
        font-size: 12px;
    }
}

@media screen and (max-width: 625px) {
    .banner {
        grid-template-columns: 65% 35%;
    }

    /* Text resizing */
    .archive-item {
        font-size: 20px;
    }

    /* Archive column styling */
    .issues-wrapper {
        padding-left: 22%;
    }

    /* Dashboard banner */
    .dashboard-banner {
        grid-template-columns: 65% 35%;
    }

    .dashboard-logo-text {
        font-size: 38px;
    }
}

.car-container {
    width:500px;
}

.issuu {
    min-width:300px;
    min-height: 300px;
    width: 100%;
}
.car2 {
    max-width: 500px;
}