/* Fonts */
@font-face {
    font-family: road-race;
    src: url(road-race/Road\ Race\ Rough.otf);
}

@font-face {
    font-family: pt-serif;
    src: url(PT_Serif/PTSerif-Regular.ttf)
}

@font-face {
    font-family: pt-serif-bold;
    src: url(PT_Serif/PTSerif-Bold.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(Roboto/Roboto-Bold.ttf)
}

@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-Regular.ttf)
}

/* Colors */
.brown {
    color: #573B03;
}

.search-light-grey {
    color: #959595;
}

.bold {
    font-weight: 900;
}

.line-light-grey {
    color: #C4C4C4;
}

/* Interactions */
.hover:hover {
    text-decoration: underline;
}

/* HEADER */
.header {
    font-family: pt-serif;
}

/* Top banner */
.banner {
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 2%;
}

.title-wrapper {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-image {
    height: 100px;
    margin-right: 1%;
}

.title-text {
    font-size: 48px;
    font-family: road-race;
    color: rgb(57,37,32);
}

/* Extras section */
.extras-text {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 2%;
}

.extras-text:hover {
    font-weight: bolder;
}

.search {
    margin: 2%;
}

.search-box {
    width: 250px;
}

.search-input {
    border-radius: 6px 6px 6px 6px;
    border-width: 1px;
    border-color: #D4D4D4;
    border-style: solid;
    height: 100%;
    font-family: roboto;
    font-size: 14px;
    padding: 2%;
    margin-right: 0;
}

.email {
    margin: 2%;
}

.email-form {
    display: flex;
    flex-direction: row;
    height: 20px;
}

.email-input {
    border-radius: 6px 0px 0px 6px;
    border-width: 1px;
    border-color: #D4D4D4;
    border-style: solid;
    height: 100%;
    font-family: roboto;
    font-size: 14px;
    padding: 2%;
    margin-right: 0;
}

.subscribe-button {
    border-radius: 0px 6px 6px 0px;
    border-width: 1px;
    border-color: #3A0803;
    border-style: solid;
    background-color: #3A0803;
    color: white;
    font-family: roboto;
    font-size: 12px;
    font-weight: medium;
    margin-left: 0;
    height: 100%;
    padding-top: 4%;
    padding-bottom: 7.5%;
}

/* Nav bar */
.navbar {
    display: flex;
    justify-content: center;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  .navitem {
    float: left;
    color: #333333;
  }
  
  .navitem a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* FOOTER */
.footer {
    background-color: #3A2B03;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
}

.footer-text {
    font-family: pt-serif-bold;
    font-size: 16px;
    color: white;
}

/* HOME PAGE */
.page-content-wrapper {
    font-family: pt-serif;
    margin: 2%;
    display: grid;
    grid-template-columns: 75% 25%;
}

/* Main content */
.main-content-wrapper {
    border-right: solid  1px;
    margin-right: 3%;
}

/* Featured article*/
.featured-article {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}

.featured-image-wrapper{
    display: flex;
    justify-content: center;
}

.featured-image {
    max-height: 400px;
    width: 100%;
}

.featured-text-wrapper {
    line-height: 2;
}

.featured-title-wrapper {
    font-size: 34px;
    font-weight: bold;
}

.featured-category {
    font-size: 20px;
}

.featured-blurb {
    font-size: 18px;
}

.read-more-wrapper {
    text-align: right;
}

.read-more {
    text-decoration: underline;
    font-family: roboto-bold;
}

/* List article */
.list-article-wrapper {
    margin: 4%;
}

.list-article {
    display: grid;
    grid-template-columns: 40% 60%;
}

.list-image {
    width: 100%;
}

.list-text-wrapper {
    margin-left: 4%;
    line-height: 2;
}

.list-title {
    font-size: 18px;
    font-weight: bold;
}

.list-blurb {
    font-size: 14px;
}

/* Sidebar */
.sidebar-wrapper {
    margin-top: 6%;
}
.sidebar-title {
    font-size: 30px;
}

.sidebar-article {
    margin-bottom: 4%;
}

.sidebar-image {
    max-height: 225px;
    max-width: 100%;
}

.sidebar-text-wrapper {
    line-height: 1.5;
}

/* Media Queries */
@media screen and (min-width: 1225px) {
    .subscribe-button {
        padding-bottom: 4%;
    }
}

@media screen and (min-width: 1200px) {
    .subscribe-button {
        padding-bottom: 6%;
    }
}

@media screen and (min-width: 1100px) {
    .subscribe-button {
        padding-bottom: 7%;
    }
}

@media screen and (max-width: 1025px) {
    .search-box {
        width: 200px;
    }

    .email-input {
        width: 132px;
    }
    
    .subscribe-button {
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 850px) {
    .page-content-wrapper {
        grid-template-columns: 100%;
    }

    .side-bar-wrapper {
        display: none;
    }

    .search-box {
        width: 150px;
    }

    .email-input {
        width: 110px;
    }
    
    .subscribe-button {
        font-size: 10px;
    }
}

/* SEARCH PAGE */
/* Search Bar */
.large-search-wrapper {
    margin: 4%;
    height: 50px;
    border-bottom: solid black 3px;
    line-height: 1.5;
}

.large-search-input {
    width: 85%;
    font-family: roboto;
    font-size: 24px;
    border: none;
    padding-top: 2%;
}

.large-search-button {
    width: 10%;
    background: none;
    color: #626262;
    font-size: 24px;
    border: none;
    cursor: pointer;
}


/* Side Bar */
.popular-searches {
    text-align: center;
    padding-right: 8%;
}

.popular-title {
    text-align: center;
}

.popular-search-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.popular-search-link:hover {
    text-decoration: underline;
}

/* ARTICLE PAGE */
/* Breadcrumbs */
.breadcrumbs-wrapper {
    font-family: roboto;
    font-weight: bold;
    font-size: 16px;
}

/* Article */
.article-wrapper {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}

.article-title {
    font-size: 34px;
    font-weight: bold;
}

.top-text-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.article-date {
    color: #626262;
    font-size: 25px;
}

.article-byline {
    font-size: 25px;
    font-weight: bold;
}

.article-text {
    font-family: 'pt-serif';
    font-size: 18px;
    line-height: 2;
}

.article-caption {
    color: #626262;
    text-align: center;
}

/* Suggested Articles Sidebar */
.suggested-wrapper {
    padding: 2%;
    border: solid black 2px;
}

.suggested-article {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 4%;
    margin-bottom: 8%;
}

.suggested-image {
    max-width: 100%;
}

.suggested-text {
    margin-left: 2%;
}

.suggested-title {
    font-size: 12px;
    font-weight: bold;
}

.suggested-date {
    color: #626262;
    font-size: 13px;
    margin-top: 2%;
}

.link {
    color: black;
    text-decoration: none;
    line-height: 1;
}

.smaller-sidebar-title {
    font-size: 24px;
    font-weight: bold;
}

/* Social Media Icons */
.btn {
  background-color: white;
  border: solid black 1px;
  border-radius: 5px;
  color: black;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}